<ion-view view-title="Đăng nhập" name="login-view" hide-nav-bar="true">

<ion-content class="login-content padding">
		<link rel="stylesheet" type="text/css" href="css/view/login.css">
		<div class="center-screen padding">
<ul class="list menu-list">
	<ion-item class="item item-divider" style="color:white">
    	Hãy chọn tỉnh thành bạn đang sống
    </ion-item>
	<li class="item " ng-repeat="province in provinces"
		ng-class="{'item-last':$last}">
		<button class="button button-clear button-positive" ng-click="chooseProvince(province)">
				  {{::province.provinceName}}
		</button>
	</li>
</ul>
</div>
</ion-content> </ion-view>
