
<ion-view view-title="Cài đặt" name="setting-view" hide-nav-bar="false">

<ion-content class="setting-content padding">

<ul class="list menu-list">
	<ion-item class="item item-divider">
    	Thống kê truy cập:
    </ion-item>
	<li class="item " ng-repeat="statystic in statystics"
		ng-class="{'item-last':$last}">
		{{::statystic.label}} : {{::statystic.count}}
	</li>
	<ion-item class="item item-divider">
    	Thiết lập:
    </ion-item>
    <li class="item ">
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Chọn tỉnh đang ở
		    </div>
		    <select ng-options="province.provinceName for province in provinces track by province.provinceCode" ng-model="selectedProvince"></select>
		   <!-- https://docs.angularjs.org/api/ng/directive/ngOptions -->
		  </label>
		</div>
	</li>
</ul>





</ion-content> 

</ion-view>