<ion-view hide-nav-bar="true" style="background: rgba(0, 0, 0, 1);">
    <a class="button nav_btn
ion-arrow-left-a button-clear button-stable no-padding-left" on-touch="goBack()"></a>
    <ion-content class="fullscreen-player" padding="true" overflow-scroll="true">
        <video controls="controls" preload="metadata" class="centerme">
            <source src={{videoUrl}} type="video/mp4" />
        </video>
    </ion-content>
    <img ng-show="showAdv" src="{{getAdvUrl()}}" class="fullscreen-image">
</ion-view>
