<ion-view hide-nav-bar="true"> 
	<ion-content class="home-content padding">
		<link rel="stylesheet" type="text/css" href="css/view/tab-home.css">
		<div class="home-logo">
			<img src="resources/img/TOT-5.png">
		</div>
		<div  class="home-menu">
			<ul class="list menu-list">
			    <li class="item " ng-repeat="menuItem in menu">
			    <button class="button button-clear button-positive" ng-click="getMenuAction(menuItem)">
				  {{::menuItem.label}} 
				</button>
				<img src="resources/img/{{:: menuItem.type =='s' ? 'Video Call Filled.svg' : 'Video Call Filled.svg' }}">
			    </li>
			</ul>
		</div>
		
	</ion-content> 
</ion-view>
