<ion-view view-title="Thợ xây">
  <ion-content>
      <div style="height:4em">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="Search" placeholder="Tìm kiếm" ng-model="searchText">
        </label>
        </div>
	<scroll direction="y"> 
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="mason in masons | filter:searchText" type="item-text-wrap">
        <h2>{{mason.Name}}</h2>
        <p>{{mason.Phone}}</p>
        <p>{{mason.District}}</p>
      </ion-item>
    </ion-list>
    </scroll>
  </ion-content>
</ion-view>
