<ion-view hide-nav-bar="true">
    <ion-content class="fullscreen-player" padding="true" overflow-scroll="true">
        <!-- <div class="modal transparent fullscreen-player" ng-click="closeModal()">
            <video ng-src="{{videoUrl}}" preload="metadata" class="centerme" controls="controls" autoplay webkit-playsinline="webkit-playsinline"></video>
        </div> -->
        <video controls="controls" preload="metadata" autoplay="autoplay" class="centerme">
            <source src={{videoUrl}} type="video/mp4" />
        </video>
    </ion-content>
</ion-view>
