<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Demo Tab -->
    <ion-tab title="Giới thiệu" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/dash">
        <ion-nav-view name="tab-dash" hide-nav-bar="true"></ion-nav-view>
    </ion-tab>
    <!-- PDF Viewer Tab -->
    <ion-tab title="PDF viewer" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/pdfviewer">
        <ion-nav-view name="tab-pdf-viewer" hide-nav-bar="true"></ion-nav-view>
    </ion-tab>
    <!-- Calendar Tab -->
    <ion-tab title="Lịch" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/calendar">
        <ion-nav-view name="tab-calendar" hide-nav-bar="false"></ion-nav-view>
    </ion-tab>
    <!-- Note Tab -->
    <ion-tab title="Tạo nhật ký" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/account">
        <ion-nav-view name="tab-account" hide-nav-bar="false"></ion-nav-view>
    </ion-tab>
</ion-tabs>
