
.login-content {
	width: 100%;
	background-color: #FF9027;
}

@media only screen and (orientation : portrait) {
	
	.home-content {
		background-image: url(../../resources/img/tattoo.png) ;
	    background-repeat:   no-repeat;
	    background-position: bottom right;      
		background-size: 100%;
	}
	.home-content div.scroll {
		display: block;
	}
	.home-logo, .home-menu {
		width: 100%;
	}
	.home-logo {
		height: 30%;
	}
	.home-logo img {
		height: 100%;
	}
	.home-menu {
		height: 70%;
	}
	.home-logo {
		margin: auto;
		text-align: center;
	}
	.menu-list {
		width: 100%;
	}
	
	.menu-list li.item {
		border-bottom: 1px #017A3E solid;
	}
	
	.menu-list li.item.item-last {
		border-bottom: none;
	}
}

@media only screen and (orientation : landscape) {
	
	.home-content {
		background-image: url(../../resources/img/tattoo-landscape.png)   ;
	    background-repeat:   no-repeat;
	    background-position: bottom right;      
		background-size: auto 100%; 
	}
	
	.home-content div.scroll {
		display: flex;
	}
	.home-logo, .home-menu {
		height: 100%;
	}
	.home-logo {
		width: 40%;
	}
	.home-menu {
		width: 60%;
	}
	.home-logo img {
		width: 100%;
	}
	
	.home-menu {
		padding-left: 16px;
	}
	.home-menu  .menu-list {
		width: calc(70% - 16px);
	}
}

}
.home-menu {
	position: relative;
}

.menu-list {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

.menu-list li.item {
	padding: 0px;
	display: flex;	
	vertical-align: middle;
}

.menu-list li.item .button.button-positive.button-clear {
	color: white;
	text-align: right;
	width: 100%;
	padding: 0px;
}

.menu-list li.item img {
	width: 32px;
	height: 32px;
	padding: 6px;
	margin-top: 7px;
	margin-left: 5px;
	border-radius: 50px;
	background-color: #017A3E;
}