<!--buttons should be hidden, one-touch it will display -->
<!-- add back button, home button -->
<!-- deal with scroll bar -->
<!-- re-position buttons -->
<!-- <div ng-controller='viewPDFCtrl' style="height: 100%; width: 100%;"> -->
<ion-content scroll="false" ng-controller='viewPDFCtrl'>
    <!-- This is portrait canvas-->
    <canvas ionic-canvas></canvas>
    <!-- This is Landscape canvas -->
</ion-content>
<div class="row nav_btn_div">
    <button class="nav_btn button icon-left ion-chevron-left button-clear button-dark" ng-click="goPrevious()"></button>
    <div style="width: 80%;"></div>
    <button class="nav_btn button icon-right ion-chevron-right button-clear button-dark" ng-click="goNext()"></button>
</div>
<!-- <div class="page_number_div">{{pageNum}}/{{pageCount}}</div -->
