ion-tabs.tabs-color-active-positive .tab-item {
    color: #FFFFFF;
}

.tab-nav.tabs,
ion-tabs.tabs-color-active-positive .tab-item {
	background-color:#007A3D;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active
, ion-tabs.tabs-color-active-positive .tab-item.active
, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color:#FF9027;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active
, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active
, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
	border-color: #01BE60;
     color: #FF9027; 
}

ion-header-bar.bar-stable.bar.bar-header {
	background-color: #FF9027;
}



/* Define */


.home-tattoo {
	width: 100%;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.cautieu_button {
	background-color:#007A49;
}

textarea.notes-style {
	background: url(../resources/img/ynxjD.png) repeat-y;
	line-height: 25px;
	height:92%;
	width: 100%;
	overflow: auto;
	padding: 2px 10px;
	border: solid 1px #ddd;
}

  /* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   font-size: 20px;   
}

.backgroundGreen {
   background-color: #007A3D !important;
   color:white !important;
   font-weight:bold;
   font-size: 14pt !important;
}
.border-bottom-solid-gray {	
    border-bottom: solid 1px #ddd;
}

.backgroundGreen > option {
    font-weight: normal;
}