ion-tabs.tabs-color-active-positive .tab-item {
    color: #FFFFFF;
}

.tab-nav.tabs,
ion-tabs.tabs-color-active-positive .tab-item {
	background-color:#007A3D;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active
, ion-tabs.tabs-color-active-positive .tab-item.active
, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color:#FF9027;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active
, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active
, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
	border-color: #01BE60;
     color: #FF9027; 
}

ion-header-bar.bar-stable.bar.bar-header {
	background-color: #FF9027;
}



/* Define */


.home-tattoo {
	width: 100%;
	position: absolute;
	bottom: 0px;
	right: 0px;
}