/* PDF viewer */
.nav_btn_div {
	position: absolute;
	bottom: 40%;
	width: 100%;
}
.scroll{height:100% !important}
.nav_btn {
	width: 10%;
}
.page_number_div {
	position: absolute;
	bottom: 5%;
	width: 100%;
}
.pdf_page {
	height: 100%;
	width: 100%;
}